// Imports -------------- //

@import '../../node_modules/uswds/src/stylesheets/all';

// Variables ------------ //

$text-width:      75rem;
$section-padding: 7.2rem;

// Styles --------------- //

p {
  font-family: $font-sans;
  font-size: 1.7rem;
}

.usa-content {
  p {
    max-width: $text-width;
  }
}

.nav-horizontal {
  // scss-lint:disable SelectorDepth
  background-color: $color-white;
  text-align: center;

  ul {
    @include unstyled-list;

    // fix specificity so we can de-nest
    li {
      display: inline-block;
      padding: 2rem 0;
    }
  }

  a {
    color: $color-gray-dark;
    font-family: $font-serif;
    font-weight: $font-bold;
    padding: 2rem 1rem;

    @include media ($medium-screen) {
      @include padding(null 2.7rem);
    }
  }
}

.is-sticky-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.usa-banner {
  background-color: $color-primary;
  background-image: url('../images/houses.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  height: calc(100vh - 9.5rem);
  padding-bottom: 3.7rem;
  padding-top: 6rem;
  text-align: center;

  @media screen and (min-aspect-ratio: 10/7) {
    background-color: pink;
  //  background-image: url("../images/houses.svg")
  }

  @media (max-height: 400px) {
    background-image: none;
  }

  .usa-font-lead {
    color: $color-white;
    margin-bottom: 1rem;
  }

  h1 {
    color: $color-white;
    font-size: $h3-font-size;
    margin-bottom: 2rem;
    margin-top: 1.5rem;

    @include media($medium-screen) {
      margin-bottom: 7rem;
      margin-top: 0;
    }
  }

  h2 {
    font-size: $h2-font-size;
    color: $color-white;

    @include media($medium-screen) {
      font-size: $title-font-size;
    }
  }
}

.usa-section {
  padding-bottom: $section-padding;
  padding-top: $section-padding;

  h2 {
    border-bottom: 5px solid;
    border-bottom-color: $color-primary;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
  }
}

.usa-section-alt {
  background-color: $color-primary-darkest;
  color: $color-white;

  a {
    color: $color-gray-light;

    &:hover {
      color: $color-white;
    }
  }

  h2,
  h3,
  .usa-font-lead {
    color: $color-primary-alt;
  }

  h2 {
    border-bottom-color: $color-primary-alt;
  }

  .usa-font-lead {
    color: $color-white;
  }

  .usa-width-one-half-top {
    @include media($medium-screen) {
      margin-bottom: 7rem;
    }
  }
}

@include media($medium-screen) {
  .usa-img-circle {
    float: left;
    margin-right: 3rem;
  }

  .usa-graphic-list-heading {
    clear: none;
    margin-top: 0;
  }

  .usa-graphic-list-text {
    overflow: hidden;
  }
}

.usa-circle-block {
  text-align: center;

  img {
    width: 124px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-primary-darker;
}

h1,
h2 {
  margin-top: 0;
}

.usa-font-lead {
  color: $color-gray-dark;
  font-weight: 300;
  margin-bottom: 5rem;
}

.intro-text {
  font-family: $font-serif;
  line-height: $lead-line-height;
  margin-bottom: 4rem;
}

.usa-intro-overview {
  margin-bottom: 5rem;

  .usa-font-lead {
    margin-bottom: 0;
  }
}

.section-footer-links {
  @include padding(2rem null);

  img {
    margin-right: 1rem;
    max-width: 3.4rem;
  }
}

// Media object - possible pattern for inclusion in library
.usa-media,
.usa-media-text {
  // scss-lint:disable PropertySpelling
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.usa-media-img {
  float: left;
  margin-right: 10px;

  img {
    display: block;
  }
}

// Custom media object styles

// scss-lint:disable MergeableSelector
.usa-media-img {
  margin-top: 4px;
  width: 2.4rem;
}
// scss-lint:enable MergeableSelector

.usa-no_margins {
  margin: 0;
}
