<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>

    <a class="skipnav" href="#main-content">Skip main navigation</a>

    <header role="banner">

      <div class="usa-disclaimer">
        <div class="usa-grid">
          <span class="usa-disclaimer-official">
            <img class="usa-flag_icon" src="{{ .Site.BaseURL }}/assets/images/us_flag_small.png" alt="U.S. flag">
            An official website of the United States government
          </span>
          <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
        </div>
      </div>

      <section class="usa-banner js-banner">
        <div class="usa-grid">
          <div class="usa-banner-content" id="main-content">
            <h1>{{ .Site.Params.Title }}</h1>
            <h2>{{ .Site.Params.Description }}</h2>
          </div>
        </div>
      </section>
      <nav class="nav-horizontal js-sticky-nav">
        <ul>
          <li><a href="#overview">Overview</a></li>
          <li><a href="#research-report">Research report</a></li>
          <li><a href="#contact-us">Contact us</a></li>
        </ul>
      </nav>
    </header>

    <!--Overview BEGIN -->
    <section class="usa-section usa-section-alt" id="overview">
      <div class="usa-grid">
        <div class="usa-content usa-intro-overview">
          <h2>Overview</h2>
          <p class="usa-font-lead">Recent research has made clear what many folks have personally experienced: The federal government needs to improve how it interacts with the public. Enter the Federal Front Door, an initiative to improve public-government interactions across the board.</p>
          <p class="usa-font-lead">We’re currently exploring projects to improve the quality of experiences and interactions people have with the government. These include efforts to improve transparency in service design, promote information sharing among agencies, and increase people’s trust in the government.</p>
          <p class="usa-font-lead">Here, you’ll find the most updated information on our research and progress. Read more about the four themes we’re exploring:</p>
        </div>
      </div>
      <div class="usa-grid">
        <div class="usa-width-one-half usa-width-one-half-top">
          <div class="usa-circle-block">
            <img class="usa-img-circle"  src="{{ .Site.BaseURL }}/assets/images/web_design_standards.svg" alt="Web design standards">
          </div>
          <h3 class="usa-graphic-list-heading">Web design standards</h3>
          <p class="usa-graphic-list-text">Use the Standards to create consistent, engaging user experiences across federal government websites. Our open-source UI components and visual style guide reflect industry best practices and conform to Section 508 standards. <a href="https://playbook.cio.gov/designstandards/">View the standards</a></p>
        </div>
        <div class="usa-width-one-half usa-width-one-half-top">
          <div class="usa-circle-block">
            <img class="usa-img-circle" src="{{ .Site.BaseURL }}/assets/images/proxies_info_sharing.svg" alt="Proxies and information sharing">
          </div>
          <h3 class="usa-graphic-list-heading">Proxies and information sharing</h3>
          <p class="usa-graphic-list-text">Many government services don’t allow collaborative interactions, making resources harder to access; we’re researching how to include more interactions by proxy. We’re also investigating how agencies can safely share information with each other in a way that creates better user experiences.</p>
        </div>
      </div>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <div class="usa-circle-block">
            <img class="usa-img-circle" src="{{ .Site.BaseURL }}/assets/images/government_transparency.svg" alt="Government transparency">
          </div>
          <h3 class="usa-graphic-list-heading">Government transparency</h3>
          <p class="usa-graphic-list-text">Our research found that folks don’t know what goes on inside the government. This lack of knowledge often translates to a lack of trust, which negatively impacts interactions. We’re focusing on how to provide greater transparency into government processes to improve government-public interactions.</p>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-circle-block">
            <img class="usa-img-circle" src="{{ .Site.BaseURL }}/assets/images/civic_engagement.svg" alt="Civic engagement">
          </div>
          <h3 class="usa-graphic-list-heading">Civic engagement</h3>
          <p class="usa-graphic-list-text">Getting involved with government at any level means having your voice heard and your views represented. Our work on civic engagement shows how public participation at all levels of government helps people gain empowerment and positively impact their communities.</p>
        </div>
      </div>
    </section>
    <!--Overview END -->

    <!--Research report BEGIN -->
    <section class="usa-section" id="research-report">
      <div class="usa-grid">
        <h2>Research report</h2>
        <div class="usa-width-one-third">
          <img src="{{ .Site.BaseURL }}/assets/images/ffd-research.png" alt="Research">
        </div>
        <div class="usa-width-two-thirds">
          <h3 class="usa-font-lead">All our work is guided by user research — structured conversations with people from varied populations. This research report highlights our lines of inquiry, provides detailed descriptions of what we learned, and raises questions that warrant further study.</h3>
          <a class="usa-button usa-button-secondary" href="{{ .Site.BaseURL }}files/FFD_ResearchReport_0216.pdf" onclick="ga('send', 'event', 'Downloaded PDF report', 'Clicked download of report');">Download the report (PDF)</a>
          <span class="usa-text-small">Updated 2/1/16</span>
          <h3>Methodology supplement</h3>
          <p>Want all the specifics of the research we conducted? Download our research methodologies supplement for information on our interview groups, recruiting scripts, interview scripts, and more.</p>
          <a class="usa-button usa-button-outline" href="{{ .Site.BaseURL }}files/FFD_Research_Methodology_v11.pdf" onclick="ga('send', 'event', 'Downloaded PDF report', 'Clicked download of supplement report');">Download the supplement (PDF)</a>
          <span class="usa-text-small">Updated 2/1/16</span>
        </div>
      </div>
    </section>
    <!--Research report END -->

    <!--Contact us BEGIN -->
    <footer>
      <section class="usa-section usa-section-alt" id="contact-us">
        <div class="usa-grid">
          <div class="usa-content">
            <h2>Contact us</h2>
            <p class="usa-font-lead">We’re glad you’re interested in the Federal Front Door — we’d love to hear from you. Send us your questions or feedback, and a member of our team will get back to you shortly.</p>
          </div>
          <div class="usa-width-one-half usa-media">
            <img class="usa-media-img" src="{{ .Site.BaseURL }}/assets/images/icon-laptop.png" alt="laptop icon">
            <div class="usa-media-text">
              <p class="usa-no_margins">Drop us a line at <a href="mailto:federalfrontdoor@gsa.gov">federalfrontdoor@gsa.gov</a>. We’ll respond within a day or two (more likely sooner).</p>
            </div>
          </div>
          <div class="usa-width-one-half usa-media">
            <img class="usa-media-img" src="{{ .Site.BaseURL }}/assets/images/icon-github.png" alt="GitHub icon">
            <div class="usa-media-text">
              <p class="usa-no_margins">To learn more about our current work — and to make suggestions — visit our <a href="{{ .Site.Params.Repo }}">GitHub repo</a>.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Contact us END -->

      <!--Footer links BEGIN -->
      <section class="usa-section section-footer-links">
        <div class="usa-grid">
            <a class="media_link" href="https://usa.gov/">
              <img src="{{ .Site.BaseURL }}/assets/images/usagov-logo.png" alt="USA.gov logo">
            </a>
            <a class="media_link" href="https://18f.gsa.gov/">
              <img src="{{ .Site.BaseURL }}/assets/images/18f-logo.png" alt="18F logo">
            </a>
            <a class="media_link" href="http://gsa.gov/">
              <img src="{{ .Site.BaseURL }}/assets/images/gsa-logo.png" alt="GSA logo">
            </a>
        </div>
      </section>
    </footer>
    <!--Footer links END -->

    {{ partial "scripts.html" . }}

  </body>
</html>
